.mediaViewInfo {
    --web-view-name: Commercial Production;
    --web-view-id: Commercial_Production;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: fit;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

:root {
    --web-view-ids: Commercial_Production;
}

body, html {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    overflow: visible;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#null {
    position: relative;
    width: auto;
    height: auto; /* Maintains aspect ratio */
    max-width: 100%; /* Ensures image doesn't go beyond container's width */
    object-fit: cover;
}

.back-button-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10; /* Make sure it stays on top of the image */
}

.back-icon {
    font-size: 72px;
    cursor: pointer;
}

@media only screen and (min-width: 992px) {
    /* Adjustments for larger screens go here */
    #null {
        max-width: auto;
        margin: auto; 
    }
}
