.mediaViewInfo {
	--web-view-name: Commercial Production;
	--web-view-id: Commercial_Production;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Commercial_Production;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Commercial_Production {
	position: absolute;
	width: 1080px;
	height: 1920px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Commercial Production;
	--web-view-id: Commercial_Production;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Beauty366565 {
	position: absolute;
	width: 1882px;
	height: 1044px;
	left: -401px;
	top: -121px;
	overflow: hidden;
}
#Component_10__1 {
	position: absolute;
	width: 390px;
	height: 387px;
	left: 639px;
	top: 1455px;
	overflow: hidden;
}
#n_023_new_cloth_sim_clothbluw_ {
	filter: drop-shadow(18px 19px 12px rgba(172, 189, 228, 0.722));
	position: absolute;
	width: 390px;
	height: 387px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Component_11__1 {
	position: absolute;
	width: 421px;
	height: 380px;
	left: 39px;
	top: 1455px;
	overflow: hidden;
}
#n_023_new_cloth_sim_pink {
	filter: drop-shadow(18px 19px 12px rgba(172, 189, 228, 0.741));
	position: absolute;
	width: 421px;
	height: 380px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Union_1 {
	fill: rgba(255,255,255,1);
}
.Union_1 {
	overflow: hidden;
	position: absolute;
	width: 1331px;
	height: 559px;
	left: -164px;
	top: 485px;
	transform: matrix(1,0,0,1,0,0);
}
#Component_12__1 {
	mix-blend-mode: normal;
	filter: drop-shadow(-5px 3px 7px rgba(140, 141, 157, 0.722));
	position: absolute;
	width: 400px;
	height: 600px;
	left: 320px;
	top: 975px;
	overflow: hidden;
	z-index: +1;
	cursor: pointer;
  }  
#n_023_new_cloth_sim_green {
	filter: drop-shadow(18px 19px 12px rgba(172, 189, 228, 0.8));
	position: absolute;
	width: 390px;
	height: 395px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_7 {
	fill: rgba(255,255,255,1);
}
.Rectangle_7 {
	position: absolute;
	overflow: hidden;
	width: 280px;
	height: 289px;
	left: -164px;
	top: 726px;
}
