.mediaViewInfo {
	--web-view-name: Cover;
	--web-view-id: Cover;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-page-font: impact;
}
:root {
	--web-view-ids: Cover;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Cover {
	position: absolute;
	width: 1920px;
	height: 1080px;
	font-family: impact;
	background-color: rgba(152,203,229,1);
	overflow: hidden;
	--web-view-name: Cover;
	--web-view-id: Cover;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-page-font: impact;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Puppy_BG {
	opacity: 0.33;
	position: absolute;
	width: 1668px;
	height: 1080px;
	left: 980px;
	top: 0px;
	overflow: visible;
}
#Line_Design {
	opacity: 0.75;
	fill: transparent;
	stroke: rgba(32,145,168,1);
	stroke-width: 25px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_Design {
	filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.439));
	overflow: visible;
	position: absolute;
	width: 560px;
	height: 41px;
	left: 129.5px;
	top: 769.5px;
	transform: matrix(1,0,0,1,0,0);
}
#How_to_Correct_Correctly {
	left: 117px;
	top: 304px;
	position: absolute;
	overflow: visible;
	width: 725px;
	height: 456px;
	line-height: 150px;
	margin-top: -10px;
	text-align: left;
	font-family: Aileron, impact;
	font-style: normal;
	font-weight: bold;
	font-size: 130px;
	color: rgba(255,255,255,1);
	letter-spacing: -0.1px;
}
#Intro_Course {
	left: 41px;
	top: 974px;
	position: absolute;
	overflow: visible;
	width: 1046px;
	white-space: nowrap;
	line-height: 38px;
	margin-top: -5px;
	text-align: left;
	font-family: Aileron, impact;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.1px;
	text-decoration: underline;
}
#Component_3 {
	opacity: 0.64;
	position: absolute;
	width: 457px;
	height: 132px;
	left: 1413px;
	top: 661px;
	overflow: visible;
	transition: all 0.30000001192092896s ease-out;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: Cover___2.html;
	cursor: pointer;
}
#Rectangle_1_r {
	fill: url(#Rectangle_1_r);
}
.Rectangle_1_r {
	position: absolute;
	overflow: visible;
	width: 441px;
	height: 132px;
	left: 16px;
	top: 0px;
}
#n___Start_Lab {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 0px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 423px;
	white-space: nowrap;
	line-height: 532px;
	margin-top: -227px;
	text-align: left;
	font-family: Nexa XBold, impact;
	font-style: normal;
	font-weight: normal;
	font-size: 78px;
	color: rgba(255,255,255,1);
}
#Primal_Needs_Center_Logo {
	position: absolute;
	width: 1137px;
	height: 1137px;
	left: 411.5px;
	top: -166px;
	overflow: visible;
}
#big_transpanret_primal_needs {
	filter: drop-shadow(10px 10px 8px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 1137px;
	height: 1137px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#PM_ND {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)) blur(30px);
	left: 1784px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	text-align: left;
	font-family: Aileron, impact;
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	color: rgba(255,255,255,1);
	letter-spacing: -0.1px;
}
#Component_3__8 {
	opacity: 0.64;
	position: absolute;
	width: 441px;
	height: 132px;
	left: 1429px;
	top: 815px;
	overflow: visible;
}
#Rectangle_1_y {
	fill: url(#Rectangle_1_y);
}
.Rectangle_1_y {
	position: absolute;
	overflow: visible;
	width: 441px;
	height: 132px;
	left: 0px;
	top: 0px;
}
#Back_Home {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 52px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 322px;
	white-space: nowrap;
	line-height: 402px;
	margin-top: -171.5px;
	text-align: left;
	font-family: Nexa XBold, impact;
	font-style: normal;
	font-weight: normal;
	font-size: 59px;
	color: rgba(255,255,255,1);
}