@mediaViewInfo {
    --web-view-name: Landing;
    --web-view-id: Landing;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: fit;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
    --web-page-font: impact;
}

:root {
    --web-view-ids: Landing;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#Landing {
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
    height: 1920px;
    font-family: impact;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Landing;
    --web-view-id: Landing;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: fit;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
    --web-page-font: impact;
}

#Fabric_Background {
    position: relative;
    width: 100%;
    height: 100%;
    left: -34.136px;
    top: -202.552px;
    overflow: visible;
}

#JS_Logo {
    mix-blend-mode: luminosity;
    filter: drop-shadow(-5px 3px 7px rgba(140, 141, 157, 0.722));
    position: absolute;
    width: 93px;
    height: 70px;
    left: 29px;
    top: 24px;
    overflow: visible;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#JS_Logo:hover {
    transform: scale(1.1);
}

#n_D_Anima_01 {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 930px;
    top: 0px;
    overflow: visible;
}

#Component_7__2 {
    mix-blend-mode: normal;
    position: absolute;
    width: 100%;
    height: fit-content; /* Adjust height for mobile view */
    left: auto;
    top: auto;
    overflow: visible;
    background-image: none;
    backdrop-filter: none;
    opacity: 1;
}

#n_1 {
    position: relative;
    width: 100%;
    height: auto;
    left: auto;
    top: auto;
    overflow: visible;
}

/* Your existing CSS... */

@media only screen and (max-width: 767px) {
    #Landing {
        height: auto;
    }

    #videoContainer {
        width: 100%;
        height: auto;
        left: 0;
        top: 0;
    }

    #videoContainer img, #videoContainer video {
        width: 100%;
        height: auto;
    }

    #JS_Logo {
        width: 60px;
        height: 45px;
    }

    .sphere {
        width: 30px;
        height: 30px;
    }
}