.mediaViewInfo {
	--web-view-name: Landing;
	--web-view-id: Landing;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-page-font: impact;
}
:root {
	--web-view-ids: Landing;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Landing {
	position: absolute;
	width: 1080px;
	height: 1920px;
	font-family: impact;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Landing;
	--web-view-id: Landing;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-page-font: impact;
}
#Fabric_Background {
	position: absolute;
	width: 1145.997px;
	height: 2325.104px;
	left: -34.136px;
	top: -202.552px;
	overflow: visible;
}
#JS_Logo {
	mix-blend-mode: luminosity;
	filter: drop-shadow(-5px 3px 7px rgba(140, 141, 157, 0.722));
	position: absolute;
	width: 93px;
	height: 70px;
	left: 29px;
	top: 24px;
	overflow: visible;
}
#n_D_Anima_01 {
	position: absolute;
	width: 150px;
	height: 150px;
	left: 930px;
	top: 0px;
	overflow: visible;
}
#Component_7__2 {
	mix-blend-mode: normal;
	position: absolute;
	width: 1202.348px;
	height: 1330.852px;
	left: -73.252px;
	top: 615px;
	overflow: hidden;
}
#n_1 {
	position: relative;
	width: 1331px;
	height: 667px;
	left: -125px;
	top: 1066px;
	overflow: visible;
}
